<div class='site-wrapper'>
    <div class='site-wrapper-inner'>
        <app-site-masthead></app-site-masthead>
        <app-site-header></app-site-header>
        <app-home-main></app-home-main>
        <router-outlet></router-outlet>
        <app-site-footer></app-site-footer>
    </div>
    <h2>Please enter a word to look for anagrams !</h2>
    <form class="example-form">
            <md-form-field class="example-full-width">
              <input mdInput placeholder="Enter a word" [(ngModel)]="word" [ngModelOptions]="{standalone: true}">
            </md-form-field>
    </form>
    <button md-button (click)="sendMessage(word)">Search</button>
</div>